
.box {
  border: 1px solid black;
  width: 500px;
  height: 400px;
  margin-bottom: 50px;
}

.center {
  margin-top: 100px;
  width: 500px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.first, .second {
  background-color: #222;
  color: #ffff;
  font-size: 1rem;
  font-family: 'open-sans', sans-serif;
  width: 150px;
  height: 50px;
  border: none;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
